body{
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer"
    ;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif
}

div{
    border-bottom: 1px solid rgba(34, 34, 34, 0.1);
    margin: auto;
    justify-items: center;
}

header{
    background-color: rgba(34, 34, 34, 0.1);
    grid-area: header;
    margin: auto;
    width: 100%;

    justify-items: center;
    border-bottom: 1px solid rgba(34, 34, 34, 0.1);
}

nav{
    background-color: rgba(34, 34, 34, 0.1);
    grid-area: nav;
    /* padding-top: 0.5em;
    padding-bottom: 0.5em; */
    width: 100%;

    text-align: center;
    /* padding: 0.5em; */
    /* justify-items: center; didnt work */
}

a{
    color: black;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif
}

nav a{
    margin: 0.5em;
}

main{
    grid-area: main;
    margin: auto;
    width: 100%;

    /* padding: 2em; */

    justify-items: center;
}

aside{
    grid-area: aside;
    margin: auto;
    height: 100%;
    max-width: 15em;
    padding-left: 0.25em;
}

footer{
    grid-area: footer;
    margin: auto;
    width: 100%;
    justify-items: center;
}

.itemDisplay{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:"sidebar cards";
}

.sidebar{
    grid-area: sidebar;
    margin: auto;
    height: 100%;
    max-width: 15em;
    padding-left: 0.25em;
}

.cardContainer{
    grid-area: cards;

    margin-top: 1em;
    margin-bottom: 2em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    justify-items: center;
    text-align: center;

    /* background-color: rgb(245, 245, 245); */
    border-color: rgb(245, 245, 245);
    margin: 0.5em;
    width: 20%;
    /* height: 21em; */
    padding: 1em;

    border-radius: 1em;
    border-style: solid;
    border-width: 0.1em;

    box-shadow: 0.1em 0.1em 0.1em 0.1em  rgb(240, 240, 240);
    /* border-bottom-style: none; */
}

.cardImg{
    justify-items: center;
    width: 10em;
    /* object-fit: contain; */
}

.cardLink{
    /* margin-top: auto; DIDNT WORK */
}

.lotPage{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "img title title"
        "img price price"
        "description description description"
    ;
}

.lotImg{
    margin: auto;
    grid-area: img;
    padding: 3em;
    width: 100%;
    justify-items: center;
    text-align: center;
}

.lotTitle{
    grid-area: title;
}

.lotPrice{
    grid-area: price;
}

.lotDesc{
    grid-area: description;
    margin-left: 1em;
    margin-right: 1em;
}

.adminNav{
    /* needs padding */
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.baseNav{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

form{
    align-items: center;
    text-align: center;

    /* background-color: rgb(245, 245, 245); */
    border-color: rgb(245, 245, 245);
    margin: 1em;
    border-radius: 1em;
    border-style: solid;
    border-width: 0.1em;


    padding: 1em;

    box-shadow: 0.1em 0.1em 0.1em 0.1em  rgb(240, 240, 240);

    display: flex;
    flex-direction: column;
}

.login{
    width: 30%;
}

.email{
    width: 50%;
}

input, textarea, button, select{
    margin: 1em;
}

s.notification{
    /* flex-direction: row; */
}

.adminForm{
    width: 30%
}

textarea{
    width: 75%;
    height: 10em;
}

.wideInput{
    width: 75%;
}

.placeholderCarousel{
    width: 85%;
    height: 20em;
    background-color: rgb(245, 245, 245);
    border-radius: 2em;
    border-style: solid;
    border-width: 0.1em;
    border-color: rgb(205, 205, 205);
    margin: 3em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.catalougeHeader{
    margin-left: 3em;
    margin-right: 3em;
}

.visibleDiv{
    border-color: rgb(245, 245, 245);
    border-radius: 1em;
    border-style: solid;
    border-width: 0.1em;


    padding: 1em;

    box-shadow: 0.1em 0.1em 0.1em 0.1em  rgb(240, 240, 240);
}

.sellRequestContainer{
    border-color: rgb(245, 245, 245);
    border-radius: 1em;
    border-style: solid;
    border-width: 0.1em;


    padding: 1em;

    box-shadow: 0.1em 0.1em 0.1em 0.1em  rgb(240, 240, 240);
}

.sellRequestLine{
    border-color: rgb(245, 245, 245);
    border-radius: 1em;
    border-style: solid;
    border-width: 0.1em;


    margin: 1em;

    box-shadow: 0.1em 0.1em 0.1em 0.1em  rgb(240, 240, 240);
}

td{
    padding:1em
}

.searchBarForm{
    width: 30%;
    margin-left: 5em;
    margin-right: 5em;
    padding:  0;
    display: flex;
    flex-direction: row;
}

.sidebyside{
    display: flex;
    flex-direction: row;
}
