body{
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer"
    ;
}

div{
    border-bottom: 1px solid rgba(34, 34, 34, 0.1);
    margin: auto;
    justify-items: center;
}

header{
    background-color: rgba(34, 34, 34, 0.1);
    grid-area: header;
    margin: auto;
    width: 100%;

    justify-items: center;
    border-bottom: 1px solid rgba(34, 34, 34, 0.1);
}

nav{
    background-color: rgba(34, 34, 34, 0.1);
    grid-area: nav;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;

    text-align: center;
    /* padding: 0.5em; */
    /* justify-items: center; didnt work */
}

nav a{
    margin: 0.5em;
}

main{
    grid-area: main;
    margin: auto;
    width: 100%;

    /* padding: 2em; */

    justify-items: center;
}

aside{
    grid-area: aside;
    margin: auto;
    height: 100%;
    max-width: 15em;
    padding-left: 0.25em;
}

footer{
    grid-area: footer;
    margin: auto;
    width: 100%;
    justify-items: center;
}

.itemDisplay{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:"sidebar cards";
}

.sidebar{
    grid-area: sidebar;
    margin: auto;
    height: 100%;
    max-width: 15em;
    padding-left: 0.25em;
}

.cardContainer{
    grid-area: cards;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    justify-items: center;
    text-align: center;

    background-color: rgb(245, 245, 245);

    margin: 0.5em;
    width: 20%;
    /* height: 21em; */
    padding: 1em;

    border-radius: 1em;
    border-bottom-style: none;
}

.cardImg{
    justify-items: center;
    width: 10em;
    /* object-fit: contain; */
}

.cardLink{
    /* margin-top: auto; DIDNT WORK */
}

.lotPage{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "img title title"
        "img price price"
        "description description description"
    ;
}

.lotImg{
    margin: auto;
    grid-area: img;
    padding: 3em;
    width: 100%;
    justify-items: center;
    text-align: center;
}

.lotTitle{
    grid-area: title;
}

.lotPrice{
    grid-area: price;
}

.lotDesc{
    grid-area: description;
}

.adminNav{
    /* needs padding */
}

.baseNav{

}
