body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer"
    ;
}

header{
    grid-area: header;
    margin: auto;
}

nav{
    grid-area: nav;
    margin: auto;
}

main{
    grid-area: main;
    margin: auto;

    justify-items: center;
}

aside{
    grid-area: aside;
    margin: auto;
    height: 100%;
    max-width: 15em;
    padding-left: 0.25em;
}

footer{
    grid-area: footer;
    margin: auto;
}

.itemDisplay{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:"sidebar cards";
}

.sidebar{
    grid-area: sidebar;
    margin: auto;
    height: 100%;
    max-width: 15em;
    padding-left: 0.25em;
}

.cardContainer{
    grid-area: cards;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    justify-items: center;
    background-color: rgb(245, 245, 245);
    width: 15em;
    height: 20em;
    padding: 1em;
    border-radius: 1em;
    margin: 0.5em;
}

.cardImg{
    justify-items: center;
    width: 7.5em;
    /* object-fit: contain; */
}